
.copyright p {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 50px;
    align-content: flex-end;
    text-transform: capitalize
    
}
p {
    margin: 50px;
    align-content: flex-end;
}