body {
    background-color: black;
    font-family: open-sans-light;
    font-size: 16px;
    text-align: center;
  }

  h1 {
    color: white;
  }
  p {
    color: #c2c2c2;
    font-size: 30px;
  }
  span {
    text-transform: uppercase;
  }
  