// breakpoints


@media screen and (min-width: 600px) {
    body {
    

    .site-header-container: {
        display: flex;
        flex-flow: nowrap;
        
    }
    .logo {
        display: flex;
        flex-flow: nowrap;
        flex: 50%;
    }

    p {
        display: flex;
        flex-flow: nowrap;
        flex: 50%;
    }

    .copyright {
      display: flex;
      justify-content: center;
      align-items: flex-end;
        position: relative;
      bottom: 0px;
      align-content: flex-end;
    }
  

  @media screen and (min-width: 1000px) {
    body {
      display: flex;
      justify-content: left;
      align-items: flex-end;
        position: relative;
      // bottom: 0px;
      align-content: flex-end;
    }
  }